<div id="nav-container"></div>
<div class="user-show-wrapper">
	<div class="container-fluid lair-details-header">
		<div class="page-container">
	    <div class="row panel-body">
	    	<div class="col-xs-5"> 
	    	<!-- bio info, pic -->
		    	<div class="circle">
		    		<img src="<%= user.get(['profile_image_url']) %>" class="profile-img"/>
		    	</div>
		    	<%= user.get(['first_name']) %>
		    	<%= user.get(['last_name']) %>
	    	</div>
	    	<div class="col-xs-7"> 
	    	<!-- owner lairs (slideshow?) -->
	    	</div>
	    </div>
	  </div>
	</div>
	<div class="container-fluid">
	  <div class="page-container">
	  <% if(user.get(['logged_in'])){ %>

			  <div class="row panel-body">
			    <div class="col-xs-12">
			    <h2>Pending Reservations</h2>
			    </div>
			    <div class="col-xs-12" >

			   
			    	<div id="pending-reservations-container"></div>
			    		
			    
			    </div>
			  </div>
			
			  <div class="row panel-body">
			    <div class="col-xs-12">
			    <h2>Approved Reservations</h2>
			    </div>
			    <div class="col-xs-12">

				    	<div id="approved-reservations-container"></div>

			    </div>
		  	</div>

		  	<div class="row panel-body">
			    <div class="col-xs-12">
			    <h2>Trips</h2>
			    </div>
			    <div class="col-xs-12">
			    	<% var trips = user.get(['trips']) %>
				    <% if(trips.length > 0){ %>
					    <ul class="lairs-list">
								<% $.each(trips, function(i, trip){ %>
					    		<li class="lair-result col-xs-2 col-md-4"> 
					    			<img src="<%= trip.trip_lair.lair_image_url %>/convert?w=300&h=175&fit=crop" />
					    			<p><a href="#lairs/<%= trip.lair_id %>"><%= trip.trip_lair.title %></a></p>
					    			<p><%= trip.trip_lair.city %>, <%= trip.trip_lair.state %></p>
					    			<p>Check In: <%= trip.check_in_date %></p>
					    			<p>Check Out: <%= trip.check_out_date %></p>
					    			<p>Status: <%= trip.approval_status %></p>
					    		</li>
					    	<% }) %>
					    </ul>
				    <% } else { %>
				    no trips :(
				    <% } %>
			    </div>
		  	</div>
		 
		  <% } %>
		</div>
	</div>
</div>
