<div id="nav-container"></div>
<div class="user-show-wrapper">
	<div class="container-fluid lair-details-header">
		<div class="page-container">
	    <div class="row panel-body">
	    	<div class="col-xs-2"> 
	    	<!-- bio info, pic -->
		    	<div class="circle">
		    		<img src="<%= user.escape(['profile_image_url']) %>" class="profile-img"/>
		    	</div>
	    	</div>
	    	<div class="col-xs-10"> 
	    	<!-- owner lairs (slideshow?) -->
		    	<% if(user.escape(['logged_in'])){ %>
		    		<h2>Hi <%= user.escape(['first_name']) %>!</h2>
		    		<h4>How's it going today?</h4>
			    <% } else { %>
			    	<h1><%= user.escape(['first_name']) %> <%= user.escape(['last_name'])%></h1>
			    <% } %>
	    	</div>
	    </div>
	  </div>
	</div>
	<div class="container-fluid">
	  <div class="page-container">

	  <% if(user.escape(['logged_in'])){ %>

		  <div class="row panel-body">
		    <div class="col-xs-12">
		    <h2>Pending Reservations</h2>
		    </div>
		    <div class="col-xs-12" >
		    	<div id="pending-reservations-container"></div>
		    </div>
		  </div>
		
		  <div class="row panel-body">
		    <div class="col-xs-12">
		    <h2>Approved Reservations</h2>
		    </div>
		    <div class="col-xs-12">
			    <div id="approved-reservations-container"></div>
		    </div>
	  	</div>

	  	<div class="row panel-body">
		    <div class="col-xs-12">
		    <h2>Your Trips</h2>
		    </div>
		    <div class="col-xs-12">
			    <div id="trips-container"></div>
		    </div>
	  	</div>
		 
		<% } %>

	  	<div class="row panel-body">
		    <div class="col-xs-12">
		    <% if(user.escape(['logged_in'])){ %>
		    	<h2>Your Lairs</h2>
		    <% } else { %>
		    <h2><%= user.escape(['first_name']) %>'s Lairs</h2>
		    <% } %>
		    </div>
		    <div class="col-xs-12">
			    <div id="my-lairs-container"></div>
		    </div>
	  	</div>

		</div>
	</div>
</div>
