<div class="slider-container-mini" >
  <div class="result-price dollar-value"><%= lair.escape('rate') %></div>
  <div class="lazy">
    <% var images =  lair.get(['images']) %>
    <% if(!!images){ %>
      <% $.each(images, function(idx, image){ %>
          <div class="media-cover" >
            <a href='#<%= lair.url() %>'>
              <img data-lazy="<%= image.image_url %>/convert?w=535&h=300&fit=crop"/>
            </a>
          </div>
      <% }) %>
    <% } %>
  </div>
</div>
<div class="result-text">
	<p>
    <a href='#<%= lair.url() %>'>
      <%= lair.escape('title') %>
    </a>
    <br/>
    <%= lair.escape('lair_type') %> · <%= lair.escape('city') %>
  </p>
	<% if(!!owner){ %>
    <div class="circle result-profile-image">
      <img class="profile-img" src="<%= owner.profile_image_url %>"/>
    </div>
  <% } %>
</div>
	
