<div class="trip-subsection-last">
	<p><strong><a href="#/lairs/<%= lair.id %>"><%= lair.get(['title']) %></a></strong>
	<br>
	<%= lair.get(['city']) %>, <%= lair.get(['state']) %></p>
	<a href="#/lairs/<%= lair.id %>">
		<img src="<%= lair.get(['lair_image_url']) %>/convert?w=300&h=175&fit=crop" />
	</a>
</div>