<!DOCTYPE html>
<html>
<head>
  <title>LairBnB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%# fail %>
<%= flash.now[:errors] %>
<% if signed_in? %>
<%= current_user.first_name %>
<%= button_to "Sign Out", session_url, method: :delete %>
<% end %>
<%= yield %>

</body>
</html>
