<!DOCTYPE html>
<html>
<head>
  <title>LairBnB</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyC2WcLH9OiZY3OreHdX9jED8wv62ai9qqo&sensor=false"></script>
  <%= filepicker_js_include_tag %>

</head>
<body>
<!-- nav is commented out for now. Remove if backbone nav works -->
<%# render 'layouts/header' unless @disable_nav %> 
<%= yield %>
<script type="text/javascript">filepicker.setKey("AHe6OD89pRPCqYyEzPoY9z")</script>

</body>
</html>
