<!DOCTYPE html>
<html>
<head>
  <title>LairBnB</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= filepicker_js_include_tag %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyC2WcLH9OiZY3OreHdX9jED8wv62ai9qqo&sensor=false"></script>
  

</head>
<body>
	<script type="text/javascript">
		<% if current_user %>
			var currentUser = new LairBnB.Models.User({ id: <%= current_user.id %> })
			LairBnB.users.add(currentUser);
			currentUser.fetch();
		<% end %>
	</script>

<%= yield %>
  <script type="text/javascript">filepicker.setKey("<%= ENV['FILEPICKER_API_KEY'] %>")
	</script>

</body>
</html>
