<!DOCTYPE html>
<html>
<head>
  <title>LairBnB</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%# filepicker_js_include_tag %>
  <script type="text/javascript">
(function(a){if(window.filepicker){return}var b=a.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===a.location.protocol?"https:":"http:")+"//api.filepicker.io/v1/filepicker.js";var c=a.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d={};d._queue=[];var e="pick,pickMultiple,pickAndStore,read,write,writeUrl,export,convert,store,storeUrl,remove,stat,setKey,constructWidget,makeDropPane".split(",");var f=function(a,b){return function(){b.push([a,arguments])}};for(var g=0;g<e.length;g++){d[e[g]]=f(e[g],d._queue)}window.filepicker=d})(document);
</script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyC2WcLH9OiZY3OreHdX9jED8wv62ai9qqo&sensor=false"></script>

</head>
<body>
	<script type="text/javascript">
		<% if current_user %>
			var currentUser = new LairBnB.Models.User({ id: <%= current_user.id %> })
			LairBnB.users.add(currentUser);
			currentUser.fetch();
		<% end %>
	</script>

<%= yield %>
  <script type="text/javascript">
  	filepicker.setKey("<%= ENV['FILEPICKER_API_KEY'] %>")
	</script>

</body>
</html>
